@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display:wght@500&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Playfair Display', 'Helvetica', 'Quicksand';
    margin: 0;
  }

  .personal_website{
    font-size: 2.2em;
    color: black;
  }
 /* Header Styles  */
  header{
    background-color: #646E78 ;
    /* background-color: #4B5358; */
  }

  a {
    text-decoration: none;
    color: black;
    /* color: white; */
  }

  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }

  .site-identity h1 {
    font-size: 2.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
    padding-top: 5px;
  }
  
  .site-identity img {
    max-width: 100px;
    float: left;
    margin: 0 10px 0 0;
  }
  
  .site-navigation {
    float: right;
    font-size: 30px;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

/* End Header Styles */

/* Footer Styles */

footer {
  background-color:  #646E78;
  text-decoration: none; 
  padding: 25px 50px;
  margin-top: 0px;
}

.social img{
  width: 80px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.follow{
  font-family: Helvetica;
  font-size: 2em;
  text-align: center;
}

.footer_contact{
  font-family: Helvetica;
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 40%;
}

/* Footer Styles End */

/* Home Page Adjustments */
.gym-image{
  width: 70%;
  padding-left: 15%;
}

.home_info{
  font-family: Helvetica;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

#who{
  font-size: 5em;
}

#mission_statement{
  font-size: 2.2em;
}

/* Gym Contact Page */

.gym-trainer{
  width: 80%;
  padding-left: 10%;
}

.centered {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  color: white;
  text-align: center;
}

/* Contact Box Sections */
.contact_area{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

h1{
  font-size: 2.4em;
}

#message{
  font-size: 1.4em;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.pro_div{
  display: grid;
  grid-template-columns: 15% 30% 35% 20%;
  grid-template-rows: 5% 30% 0% 20% 30% 
}

.buck_pic{
  grid-column: 2/3;
  grid-row: 2/3;
  height: 500px;
}

.buck_word{
  grid-column: 3/4;
  grid-row: 2/3;
  padding-top: 20px;
  font-size: 1.3em;
  font-family: Arial;
}

.whey_pic{
  grid-column: 2/3;
  grid-row: 5/6;
  padding-bottom: 240px;
}

.whey_word{
  grid-column: 3/4;
  grid-row: 5/6;
  padding-top: 30px;
  font-size: 1.3em;
  font-family: Arial;
}

.amazon{
  font-size: 1em;
  background-color:  #646E78; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}